// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.


$primary: #0065ff; // Thats a sample how you could change a BootStrap variable.
$shadow: 0 2px 1px rgba(0,0,0,.08);
$grid-gutter-width:           30px !default;
$linkclr: #ffab00;
$greyclr: #828282;
$size: 30px;
