// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
	background: #e4ecf1;
}

a {
	color: $linkclr;

	&:hover {
		color: #fc8204;
	}
}

.text-small {
	font-size: 12px;
}

.text-medium {
	font-size: 14px;
}

.text-default {
	font-size: 16px;
}

.hide {
	display: none;
}
 
@include media-breakpoint-up(lg) {
	.container {
		max-width: 1210px;
	}
}


.row {
	margin-left: -7.5px;
	margin-right: -7.5px;
}

.row > div[class^="col-"]{
	padding-left: 7.5px;
	padding-right: 7.5px;
}

.inline {
	display: inline-block;
}

.img-preview {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;

	img {
		width: 100%;
	}

	.caption {
		display: none;
	}
}

.bd-btn-warning {
	color: #fff!important;
	background: #ffab00;
	border-color: #ffab00;
}

.bd-btn-primary {
	color: #fff!important;
	background: #3e87f6;
	border-color: #3e87f6;
}

.bd-btn-outline-dark {
	color: #707070!important;
	background: #fff;
	border-color: #cccccc;
}

.btn .fa:not(.fa-calendar) {
	display: inline-block;
	margin-right: 10px;
}

.no-list-style {
	list-style: none;

	.updown-vote-box.updown-post {
		padding: 0;
		border: 0;

		.updown-label {
			display: none;
		}

		.updown-total-count {
			margin: 0;
		}

		&>div:nth-child(1):before {
			content: none;
		}
	}
}

.navbar {
	padding-top: 0;
	padding-bottom: 0;

	&.bg-bd {
		background: $primary;

		.navbar-brand {
			margin-right: 10px;
		}
	}
}

.wrapper {
	padding: 0;
}

.inline-list {
	list-style: none;
	display: block;
	margin: 0 -10px;
	padding: 0;

	li {
		display: inline-block;
		margin: 0 10px;
	}
}

.ball-link {
	margin: 0 -3px;

	li {
		margin: 0 3px;
	}

	a{
		display: block;
		width: $size;
		height: $size;
		border-radius: $size;
		line-height: $size;
		text-align: center;
		background: #fff;
		color: #444!important;
	}
}

a.fb {
	background: #3c5b9b!important;
	color: #fff!important;
}

a.twit {
	background: #1da1f3!important;
	color: #fff!important;
}
a.google {
	background: #dd4c39!important;
	color: #fff!important;
}

@include media-breakpoint-up(md) {
	.navbar-expand-md.bg-bd {
		.navbar-nav {
			.nav-link {
				padding-left: 15px;
				padding-right: 15px;
				font-size: 18px;
				border-bottom: 2px solid rgba(255,255,255,0);
				position: relative;
				&:before {
					content:"";
					height: 2px;
					width: auto;
					margin: 0 15px;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 5px;
					background: #fff;
					opacity: 0;
				}
			}

			& > .active > .nav-link:before {
				opacity: 1;
			}
		}
	}
}

/* NAVBAR ELEMENTS 
================================ */
.nav-els > * {
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}

@include media-breakpoint-down(md) {
	.nav-els form {
		width: 100%;
		margin: 0 0 5px;
	}

	.nav-els a {
		margin: 0 5px 15px;

		&.btn.bd-btn-primary {
			width: 48.5%;
			margin-left: 0;
			float: left;
		}

		&.btn.bd-btn-warning {
			width: 48.5%;
			margin-right: 0;
			float: left;
		}
	}
}

.bd-search-form {
	width: 240px;
}

.bd-search {
	padding-top: 0;
	padding-bottom: 0;
	border: 1px solid #fff;
	vertical-align: top;

	.fa-search {
		display: inline-block;
		float: left;
		width: 12%;
		line-height: 35px;
		color: $primary;
	}

	input.form-control {
		display: inline-block;
		width: 88%;
		padding-left: 0;
		padding-right: 0;
		border: 0;
		outline: none;
		box-shadow: none;
	}
}

/* 2nd Navbar 
================================ */
.subnav {
	margin-bottom: $grid-gutter-width / 2;
} 

.bd-bg-grey {
	background: #fff;
	border-bottom: 1px solid #d3d5d6;
}

.navbar-expand-md .navbar-nav-scroll > ul > li > .nav-link {
	padding: 20px 20px;
}

.navbar-nav-scroll {
	.nav-item {
		&.active > .nav-link {
			background: rgba(0, 101,255,.1);
			color: #0065ff;
		}
	}
}

@include media-breakpoint-down(md) {
	.navbar-nav-scroll {
	    max-width: 100%;
	    height: 2.5rem;
	    margin-top: .25rem;
	    overflow: hidden;
	    font-size: .875rem;
	    padding-right: -1rem;

	    .navbar-nav {
    	    padding-bottom: 2rem;
    	    overflow-x: auto;
    	    white-space: nowrap;
    	    -webkit-overflow-scrolling: touch;

    	    .nav-link {
    	    	padding-left: 10px;
    	    	padding-right: 10px;
    	    }
    	}
	}
}

/* ITEM LOOP 
================================ */
.card.bd-card {
	position: relative;
}

.entry-meta {
	margin-bottom: 5px;
}

.entry-content {
	color: #444;
	margin-bottom: 50px;

	p{
		font-size: 15px;
		line-height: 1.5;
		color: #616161;
		word-spacing: 1px;
	}
}

.entry-footer {
	overflow: hidden;
	margin-top: 15px;
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	margin: 0 auto;

	.btn .fa {
		margin-right: 5px;
	}
}

.ava img {
	border-radius: 90px;
}

.ava + a {
	color: #444;
}

/* SINGLE PAGE 
================================ */
.item-thumb {
	position: relative;
	height: 188px;
	overflow: hidden;
	width: 100%;
	text-align: center;
	background: #f5f5f5; 

	img {
		object-fit: cover;
		height: 100%;
	}
}

.single-meta {
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	font-size: 13px;
	line-height: 1;
	padding: 10px;
	color: $greyclr;

	span {
		display: inline-block;
		margin-right: 10px;
	}
}

.tags {
	font-size: 13px;
	a {
		display: inline-block;
		margin-right: 10px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.entry-single-footer {
	background: #d5ecfb;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 14px;

	a {
		color: #000;
		display: inline-block;
		margin-right: 20px;
		font-size: 13px;

		.fa {
			margin-right: 5px;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}
}

/* RATING 
================================ */
.updown-vote-box.updown-post {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: auto;
	border: 1px solid #e5e5e5;
	padding: 5px;
	border-radius: 5px;
	display: inline-block;

	.updown-total-count {
		margin: 2px 10px 0;
		color: $linkclr;
	}
	& > div {
		float: left;
		display: block;
		position: relative;

		img {
			opacity: 0;
		}

		&:nth-child(1) {
			float: right;
		}

		&:nth-child(2) {
			float: right;
		}

		&:nth-child(1):before {
			content:"+";
			font-weight: bold;
			font-size: 22px;
			color: $linkclr;
			position: absolute;
			width: 30px;
			height: 20px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}

		&:nth-child(3):before {
			content:"-";
			font-weight: bold;
			font-size: 22px;
			position: absolute;
			width: 30px;
			height: 20px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			color: #000
		}
	}
}

/* FORM SUBMIT 
================================ */
.wpuf_group_checkbox_70_59 .wpuf-category-checklist {
	display: block;
	overflow: hidden;
	width: 100%;

	li {
		float: left!important;
		margin-right: 10px!important;
		label {
			border: 1px solid $primary;
			border-radius: 3px;
			line-height: 34px;
			padding: 3px 10px!important;
			display: inline-block;
			font-size: 14px;
			color: $primary;
			margin: 0;
		}
	}
}

ul.wpuf-form .wpuf-submit input[type=submit] {
	width: auto!important;
	display: inline-block!important;
}

.pre-title {
	font-size: 15px!important;
}

h2.wpuf-section-title {
	@extend .text-default;
}

/* COMMENTS 
================================ */
.comments-title {
	display: inline-block;
	margin-left: 22px;
}

.comment-list {
	padding-left: 0;
	list-style: none;
	margin: $grid-gutter-width -20px 0;

	li {
		padding: 20px 40px;
		border-top: 1px solid #d1d1d1;

		.comment-meta {
			clear: both;
			overflow: hidden;

			a {
				color: $greyclr;
			}
		}

		.comment-author.vcard {
			margin-right: 10px;
			float: left;

			img {
				border-radius: 90px;
				margin-right: 10px;
			}
		}

		.comment-metadata {
			float: left;
			line-height: 31px;
			font-size: 13px;
		}

		.comment-content {
			margin-top: $grid-gutter-width / 2;
		}

		.says {
			display: none;
		}
	}
}

#respond {
	margin: 0 -20px;
	border-top: 1px solid #d1d1d1;
	padding: 40px;
}

/* WIDGET
================================ */
.nostyle {
	padding: 0;
	border: 0;
	margin: 0;
	line-height: 1;
	display: inline-block;
	-webkit-appearance: none;
	background: none;
	color: $linkclr;
}

.fakebox {
	position: relative;
	padding-right: 15px;

	&:before {
		content:"\f0d7";
		font-family: fontAwesome;
		color: $linkclr;
		position: absolute;
		right: 0;
		top: -1px;
	}
}

ul.equalwidth {
	overflow: hidden;
	li {
		float: left;
		width: calc(100% / 3);
		margin: 0;
		display: block;
		vertical-align: middle;
	}
}

.votewid i.fa{
	font-size: 12px;
	color: $linkclr;
	vertical-align: top;
	margin-left: 10px;
	position: relative;
	top: 1px;
}

.hotpost {
	margin-left: -20px!important;
	margin-right: -20px!important;

	li {
		border-top: 1px solid #e5e5e5;
		padding: 10px 5px;

		.inner {
			border: 1px solid #e5e5e5;
			border-radius: 5px;
			padding: 10px;
		}
	}
}

/* LOGIN
================================ */
.page-template-login {
	background: url(../img/pattern-login.png) repeat;
	overflow-x: hidden;

	.signin {
		display: none;
	}

	h3.bold {
		font-size: 28px;
		margin-top: 40px;
	}

	h5.fadetext {
		border-bottom: 1px solid #d1d1d1;
		display: inline-block;
		padding-bottom: 10px;
	}

	.sign-button-group {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.signup-form-side {
		background: #e9eef5;
		position: relative;
		z-index: 0;

		&:before {
			content: "";
			width: 200%;
			left: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
			background: #e9eef5;
			z-index: -1;
		}

		.btn-primary {
			background: #3e87f6;
		}
	}

	.footer-wrapper.mt-3 {
		margin-top: 0!important;
	}

	#rm_next_form_page_button_2_1 {
		width: 100%;
		display: block;
		color: #fff!important;
		cursor: pointer;

		&:hover {
			opacity: .9;
		}
	}

	.rmfield, .rminput {
		display: block;
		padding: 0;
		float: none;
		width: 100%;
		min-height: unset;
	}
}

#rm_login_form {
	.rmrow:nth-of-type(3) {
		min-height: inherit;
		label {
			margin: 0;
		}
		.rmfield{
			display: inline-block;
			width: auto;
			margin: 0;

			& + .rminput {
				display: inline-block;
				float: left;
				margin-right: 10px!important;
				width: auto;
				margin-bottom: 0;

				.rmradio label {
					display: none;
				}
			}
		}
	}

	.buttonarea {
		margin: 0;
	}
}

.page-template-login .wp-social-login-widget {
	text-align: center;
	width: 100%;
	max-width: 320px;
	margin: 0 auto;

	.wp-social-login-connect-with {
		margin-top: 10px;
	}

	.wp-social-login-provider-list {
		padding: 0;
		margin-top: 20px;
		a {
			display: block;
			width: 100%;
			padding: 15px 20px;
			background: #000;
			color: #fff;
			text-decoration: none;
			border-radius: 5px;
			margin-bottom: 5px;
			position: relative;

			img {
				display: none;
			}

			&:after {
				font-family: fontAwesome;
				position: absolute;
				left: 20px;
				font-size: 20px;
				height: 20px;
				line-height: 20px;
				top: 0;
				bottom: 0;
				margin: auto 0;
			}

			&.wp-social-login-provider-facebook {
				background: #4266b2;
				&:before {
					content:"Connect with Facebook"
				}
				&:after {
					content:"\f09a";
				}
			}

			&.wp-social-login-provider-google {
				background: #dd4b39;
				&:before {
					content:"Connect with Google"
				}
				&:after {
					content:"\f0d5";
				}
			}

			&.wp-social-login-provider-twitter {
				background: #55acee;
				&:before {
					content:"Login with Twitter"
				}
				&:after {
					content:"\f099";
				}
			}
		}
	}
}


/* FOOTER 
================================ */
.footer-nav {
	background: #fff;
	padding: 10px 0;

	.pagination {
		margin: 0;
	}

	.page-link {
		border: 0;
		color: $linkclr
	}
}

.footer-main {
	background: #2d2d2d;
	color: #fff;
	padding-top: 50px;
	font-size: 14px;

	.largest {
		font-size: 17px;
		font-weight: normal;
	}

	.downloadapp img {
		display: inline-block;
		max-width: 150px;
	}

	a {
		color: #fff;
	}
}

.statistic {
	background: #202020;
	padding: 20px;
	border-radius: 5px;

	.fa {
		width: 22px;
	}
}
