.entry-title {
	font-size: 23px;

	a {
		color: #000;
		
	}
}

.entry-meta, .fadetext, .fadetext a {
	color: $greyclr;
}

.netralclr, a.netralclr, .netralclr a {
	color: #000;
}

.small {
	font-size: 13px;
}

.bold {
	font-weight: 900;
}