// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif;
	background: #e4ecf1;
}

a {
	color: $linkclr;

	&:hover {
		color: #fc8204;
	}
}

.text-small {
	font-size: 12px;
}

.text-medium {
	font-size: 14px;
}

.text-default {
	font-size: 16px;
}

.text-green {
	color: green!important;
}

.text-gray {
	color: #8e8e8e!important;
}

.hide {
	display: none;
}

aside#text-2 {
	display: none;
}
 
@include media-breakpoint-up(lg) {
	.container {
		max-width: 1210px;
	}
}
 
@include media-breakpoint-down(md) {
	.container {
		max-width: 960px;
	}
}

.row {
	margin-left: -7.5px;
	margin-right: -7.5px;
}

.row > div[class^="col-"]{
	padding-left: 7.5px;
	padding-right: 7.5px;
}

.inline {
	display: inline-block;
}

#wrapper-index, #page-wrapper {
	@extend .mt-3
}

.img-preview {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;

	img {
		width: 100%;
	}

	.caption {
		display: none;
	}
}

.bd-btn-warning {
	color: #fff!important;
	background: #ffab00;
	border-color: #ffab00;
}

.bd-btn-primary {
	color: #fff!important;
	background: #3e87f6;
	border-color: #3e87f6;
}

.bd-btn-outline-dark {
	color: #707070!important;
	background: #fff;
	border-color: #cccccc;
}

/* .btn .fa:not(.fa-calendar) {
	display: inline-block;
	margin-right: 10px;
} */

.no-list-style {
	list-style: none;

	.updown-vote-box.updown-post {
		padding: 0;
		border: 0;

		.updown-label {
			display: none;
		}

		.updown-total-count {
			margin: 0;
		}

		&>div:nth-child(1):before {
			content: none;
		}
	}
}

.navbar {
	padding-top: 0;
	padding-bottom: 0;

	&.bg-bd {
		background: $primary;

		.navbar-brand {
			margin-right: 10px;

			@include media-breakpoint-down(sm) {
				img {
					max-height: 40px;
				}
			}
		}
	}
}

.wrapper {
	padding: 0;
}

.inline-list {
	list-style: none;
	display: block;
	margin: 0 -10px;
	padding: 0;

	li {
		display: inline-block;
		margin: 0 10px;
	}
}

.ball-link {
	margin: 0 -3px;

	li {
		margin: 0 3px;
	}

	a{
		display: block;
		width: $size;
		height: $size;
		border-radius: $size;
		line-height: $size;
		text-align: center;
		background: #fff;
		color: #444!important;
	}
}

a.fb {
	background: #3c5b9b!important;
	color: #fff!important;
}

a.twit {
	background: #1da1f3!important;
	color: #fff!important;
}
a.google {
	background: #dd4c39!important;
	color: #fff!important;
}

@include media-breakpoint-up(md) {
	.navbar-expand-md.bg-bd {
		.navbar-nav {
			.nav-link {
				padding-left: 13px;
				padding-right: 13px;
				font-size: 16px;
				border-bottom: 2px solid rgba(255,255,255,0);
				position: relative;
				&:before {
					content:"";
					height: 2px;
					width: auto;
					margin: 0 15px;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 5px;
					background: #fff;
					opacity: 0;
				}
			}

			& > .active > .nav-link:before {
				opacity: 1;
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	.navbar-expand-md.bg-bd .navbar-nav .nav-link {
		font-size: 12px;
		padding: 10px;
	}
}

@include media-breakpoint-down(sm) {
	#navbarNavDropdown {
		margin-left: -$grid-gutter-width;
		margin-right: -$grid-gutter-width;
		padding-left: $grid-gutter-width;
		padding-right: $grid-gutter-width;
		background: rgba(0,0,0,.5);

		& > ul {
			& > li {
				border-bottom: 1px solid rgba(255,255,255,.1);
			}
		}

		.bd-search-form.bd-m-search-form {
			display: block;
		}
	}

	.bd-search-form.bd-m-search-form{
		display: none;
		width: 100%;
		padding: $grid-gutter-width/2 0;
		border-bottom: 1px solid rgba(255,255,255,.1);
	}

	.navbar.navbar-expand-md.navbar-dark.bg-bd {
		.container, .container-fluid {
			justify-content: flex-end;

			.navbar-brand {
				margin-right: auto;
			}
		}
	}

	.m-utilities {
		width: auto;

		& > div {
			display: inline-block;
			margin: 0 5px;
		}
	}
}

/* NAVBAR ELEMENTS 
================================ */
.nav-els {
	@include media-breakpoint-down(sm) {
		margin-top: 10px;
	}
	& > * {
		display: inline-block;
		margin-left: 10px;
		vertical-align: middle;
	}
}

@include media-breakpoint-down(sm) {
	.nav-els form {
		width: 100%;
		margin: 0 0 5px;
	}

	.nav-els a {
		margin: 0 5px 15px;

		&.btn.bd-btn-primary {
			width: 48.5%;
			margin-left: 0;
			float: left;
		}

		&.btn.bd-btn-warning {
			width: 48.5%;
			margin-right: 0;
			float: left;
		}
	}
}


// Search form
@include media-breakpoint-up(lg) {
	.bd-search-form {
		width: 300px;
	}
}

@include media-breakpoint-between(sm, md) {
	.bd-search-form {
		width: 140px;
		.bd-search .fa{
			position: relative;
			left: -5px;
		}
	}

	.navbar-brand img{
		max-height: 50px;
	}
}

.bd-search {
	padding-top: 0;
	padding-bottom: 0;
	border: 1px solid #fff;
	vertical-align: top;
	position: relative;

	.fa-search {
		display: inline-block;
		float: left;
		width: 12%;
		line-height: 35px;
		color: $primary;
	}

	input.form-control {
		display: inline-block;
		width: 88%;
		padding-left: 0;
		padding-right: 0;
		border: 0;
		outline: none;
		box-shadow: none;
	}

	.live-search-dismiss {
		position: absolute;
		font-size: 14px;
		height: 14px;
		width: 14px;
		line-height: 14px;
		text-align: center;
		top: 0;
		bottom: 0;
		margin: auto 0;
		right: 10px;
		color: #000;
		display: none;
	}

	.bd-live-search {
		background: #fff;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		margin-top: 10px;
		border-radius: 5px;
		box-shadow: 0 20px 30px rgba(0,0,0,.08);
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
		z-index: 10;
		border: 1px solid #e5e5e5;
		display: none;

		li {
			border-bottom: 1px solid #e5e5e5;
			display: block;

			&:last-of-type {
				border: 0;
			}

			a.search-link {
				padding: 10px 15px;
				display: block;
				color: #000;
				font-size: 12px;
				line-height: 1.3;

				.bd-deal-degree {
					font-weight: bold;
					color: $linkclr;
					display: inline-block;
					margin-right: 5px;
					font-size: 14px;
				}

				&:hover {
					text-decoration: none;
					background: #f5f5f5;
				}

				.search-thumb {
					width: 57px;
					height: 57px;
					border-radius: 5px;
					border: 1px solid #e5e5e5;
					background: #fff;
					overflow: hidden;

					img {
						object-fit: cover;
						height: 100%;
					}
				}
			}
		}
	}
}

/* Filter */
.filtering {
	position: relative;
	.dropdown-menu-right {
		right: 0;
		left: inherit;
		font-size: 14px;

		a {
			font-size: 18px;
			margin: 0 0 0 10px;
			display: inline-block;
			color: #000;

			&.active {
				color: $primary;
			}
		}
	}
}

.dropdown-menu-right {
	right: 0;
	left: inherit;
}

/* User Menu */
.user-menu {
	img {
		@extend .rounded-circle;
	}
}

#user-menu, #user-menu-2 {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #e0e0e0;

		&:last-of-type {
			border: 0;
		}

		a {
			padding: 10px 25px;
			color: #000;
			@extend .text-medium;
		}

		&:hover > a {
			background: rgba(0,0,0,.08);
		}
	}
}

.navbar-dark .navbar-toggler {
	border: none;
}

/* 2nd Navbar 
================================ */
.subnav {
	margin-bottom: $grid-gutter-width / 2;
} 

.bd-bg-grey {
	background: #fff;
	border-bottom: 1px solid #d3d5d6;
}

@include media-breakpoint-up(md){
	.navbar-expand-md .navbar-nav-scroll > ul > li > .nav-link {
		padding: 20px 20px;
		font-size: 16px;
	}
}

@include media-breakpoint-down(md) {
	.navbar-expand-md .navbar-nav-scroll > ul > li > .nav-link {
		font-size: 12px;
		padding: 11px;
	}
}

.navbar-nav-scroll {
	.nav-item {
		&.active > .nav-link {
			background: rgba(0, 101,255,.1);
			color: #0065ff;
		}
	}
}

@include media-breakpoint-down(md) {
	.navbar-nav-scroll {
	    max-width: 100%;
	    height: 2.5rem;
	    //margin-top: .25rem;
	    overflow: hidden;
	    font-size: .875rem;
	    padding-right: -1rem;

	    .navbar-nav {
    	    //padding-bottom: 2rem;
    	    overflow-x: auto;
    	    white-space: nowrap;
    	    -webkit-overflow-scrolling: touch;

    	    .nav-link {
    	    	padding-left: 10px;
    	    	padding-right: 10px;
    	    }
    	}
	}
}

.notifwrapper {
	position: relative;
	max-height: 300px;

	@include media-breakpoint-down(sm) {
		position: static;
	}

	.btn {
		position: relative;
	}

	.notif-feed {
		max-height: 300px;
		overflow: auto;
	}

	.badge {
		position: absolute;
		top: 0;
		right: -8px;
		font-size: 9px;
		line-height: 1;
		font-weight: normal;
	}

	.dropdown-item {
		font-size: 12px;

		&:last-of-type {
			border-bottom: 0;
		}
	}

	.dropdown-menu {
		min-width: 320px;
		box-shadow: 0 20px 50px rgba(0,0,0,.1);
		padding-bottom: 0;

		.dropdown-divider {
			@extend .mb-0;
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
			left: 0;
		}
	}
}

.notif-item {
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
	white-space: unset;

	&.unread {
		background: rgba(0, 101, 255, 0.1);
	}
}

.notif-icon {
	float: left;
	width: 15px;
	margin-right: 5px;
	@extend .fadetext;
}

.notif-content {
	width: calc(100% - 25px);
	float: left;
}

/* BASE LAYOUT 
================================ */
@include media-breakpoint-down(md) {
	#right-sidebar {
		display: none;
	}

	.footer-nav .netralclr {
		display: none;
	}
}

/* ITEM LOOP 
================================ */
.card.bd-card {
	position: relative;
	z-index: 0;

	&.status-draft {
		border: 1px dashed red;

		&:before {
			content:"D R A F T";
			z-index: 0;
			position: absolute;
			top: 0;
			left: 20px;
			color: #000;
			opacity: .2;
			font-weight: bold;
		}
	}
}

.entry-meta {
	margin-bottom: 5px;
}

.entry-content {
	color: #444;
	margin-bottom: 50px;

	p{
		font-size: 15px;
		line-height: 1.5;
		color: #616161;
		word-spacing: 1px;
	}

	.simplefavorite-button {
		display: none!important;
	}

	@include media-breakpoint-down(md) {
		margin-bottom: 70px;
	}
}

.entry-footer {
	overflow: hidden;
	margin-top: 15px;
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	margin: 0 auto;

	.btn .fa {
		margin-right: 5px;
	}

	@include media-breakpoint-down(md) {
		.ava img {
			width: 20px;
			height: 20px;
		}

		.ava + a {
			font-size: 11px;
		}

		.entry-footer-buttons a {
			display: block;
			width: 50%;
			width: calc(50% - 5px);
			margin: 10px 5px 0;
			float: left;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.ava img {
	border-radius: 90px;
}

.ava + a {
	color: #444;
}

.post-like {
	a {
		text-decoration: none;
	}

	color: $linkclr;
}

/* GRID MODE 
================================ */
@include media-breakpoint-up(lg) {
	.paging-detect {
		clear: both;
	}
	.grid {
		margin: 0 -7.5px;
		& .card {
			width: 50%;
			width: calc(33.333333% - 15px);
			margin: 0 7.5px 7.5px;
			float: left;

			.card-body {
				padding: 10px;
			}

			& > .card-body {
				& > .row > div[class^=col-] {
					flex: 0 0 100%;
					max-width: 100%;

					.entry-title {
						height: 41px;
						overflow: hidden;
						word-wrap: break-word;
						word-break: break-word;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						max-height: 41px;
					}

					.row.mb-2 {
						margin-top: 10px;
						line-height: 25px;
					} 

					.updown-vote-box.updown-post .updown-total-count {
						margin: 2px 1px 0;
						padding: 0;
					}

					.updown-vote-box.updown-post {
						font-size: 12px;
						padding: 3px 0 0;
					}

					.entry-meta {
						font-size: 12px;
					}

					.entry-content {
						height: 65px;
						overflow: hidden;
						word-wrap: break-word;
						word-break: break-word;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						max-height: 65px;
						overflow: hidden;
						p{
							font-size: 12px;
							overflow: hidden;
						}
					}

					.entry-footer {
						div[class^=col-] {
							flex: 0 0 100%;
							max-width: 100%;
						}

						.col-md-8.text-right {
							text-align: left!important;
							margin-top: 10px;

							a.btn {
								display: block;
								float: left;
								width: 50%;
								width: calc(50% - 5px);
								margin: 0 5px;

								&:first-of-type {
									margin-left: 0;
								}

								&:last-of-type {
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Load More 
================================ */
.wishbone_loadmorebutton {
	display: block;
	text-align: center;
	color: #000;
	opacity: .3;
	clear: both;
}

/* SINGLE PAGE 
================================ */
.item-thumb {
	position: relative;
	height: 188px;
	overflow: hidden;
	width: 100%;
	text-align: center;
	background: #f5f5f5; 

	img {
		object-fit: cover;
		height: 100%;
	}
}

.single-meta {
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	font-size: 13px;
	line-height: 1;
	padding: 10px;
	color: $greyclr;

	span {
		display: inline-block;
		margin-right: 10px;
	}
}

.tags {
	font-size: 13px;
	a {
		display: inline-block;
		margin-right: 10px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.entry-single-footer {
	background: #d5ecfb;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 14px;

	a {
		color: #000;
		display: inline-block;
		margin-right: 20px;
		font-size: 13px;

		.fa {
			margin-right: 5px;
		} 
	}
}

.savepost {
	a.rs-save-for-later-button {
		position: relative;

		&.saved {
			color: $primary;
			&:after {
				content:" Saved";
			}
		}

		svg {
			display: none;
		}

		&:before {
			content:"\f02e";
			font-family: fontAwesome,;
		}

		&:after {
			content:" Save for Later";
		}
	}

	.rs-see-saved {
		display: none;
	}
}

.rs-saved-trigger {
	display: none;
}

a.report-post-link {
	background: none!important;
	margin-left: 0;
	padding: 0;
}

#report-post-buttons {
	a {
		border-radius: 5px;
		color: #fff;
	}
}

.simplefavorite-button {
	background: transparent!important;
	border: none!important;
	box-shadow: none!important;
	line-height: 1!important;
	padding: 0!important;
	display: inline-block!important;
	margin-right: 20px;
	cursor: pointer;

	&.active {
		color: $primary!important;
		opacity:1!important;
	}
}

.simplefavorite-button:hover {
	text-decoration: underline;
}

/* EXPIRED REPORT 
================================ */
.expired-notif {
	position: fixed;
	width: 100%;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	transform: translateY(-100%);
	z-index: 10;
	background: #1dbb43;
	color: #fff;
	border-color: #1dbb43;
	transition: all .2s;
	border-radius: 0;

	&.muncul {
		transform: translateY(0);
	}
}

/* RATING 
================================ */
.updown-vote-box.updown-post {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: auto;
	border: 1px solid #e5e5e5;
	padding: 5px;
	border-radius: 5px;
	display: inline-block;

	.updown-total-count {
		margin: 2px 10px 0;
		color: $linkclr;
	}
	& > div {
		float: left;
		display: block;
		position: relative;

		img {
			opacity: 0;
		}

		&:nth-child(1) {
			float: right;
		}

		&:nth-child(2) {
			float: right;
		}

		&:nth-child(1):before {
			content:"+";
			font-weight: bold;
			font-size: 22px;
			color: $linkclr;
			position: absolute;
			width: 30px;
			height: 20px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}

		&:nth-child(3):before {
			content:"-";
			font-weight: bold;
			font-size: 22px;
			position: absolute;
			width: 30px;
			height: 20px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			color: #000
		}
	}
}

.deal-vote {
	margin: 0;
	overflow: hidden;
	width: auto;
	border: 1px solid #e5e5e5;
	padding: 0 10px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	z-index: 0;

	@include media-breakpoint-down(md) {
		font-size: 12px;
	}

	.post-down {
		float: left;
		margin-right: 10px;
	}

	.post-like {
		.like {
			float: right;
		}

		.count {
			margin-left: 5px;
		}
	}

	.btn-ghost {
		display: block;
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.fa-flag-checkered {
		color: $linkclr;
	}

	.fa.fa-minus {
		color: $greyclr;
	}
}

/* FORM SUBMIT 
================================ */
.wpuf-category-checklist {
	display: block;
	overflow: hidden;
	width: 100%;

	li {
		float: left!important;
		margin-right: 5px!important;
		label {
			border: 1px solid $primary;
			border-radius: 3px;
			line-height: 34px;
			padding: 2px 10px!important;
			display: inline-block;
			font-size: 14px;
			color: $primary;
			margin: 0;
			cursor: pointer;
			transition: all .2s;

			&:before {
				content:"+";
				display: inline-block;
				margin-right: 0;
				font-weight: bold;
				font-size: 14px;
				line-height: 14px;
				width: 14px;
			}

			input[type=checkbox] {
				display: none;
			}
		}

		&.is-checked {
			label {
				background: $primary;
				color: #fff;
				float: left;

				&:before {
					content:"-"
				}
			}
		}
	}
}

ul.wpuf-form .wpuf-submit input[type=submit] {
	width: auto!important;
	display: inline-block!important;
	border: none!important
}

.pre-title {
	font-size: 15px!important;
}

h2.wpuf-section-title {
	@extend .text-default;
}

.deallink-preview {
	width: 100%;
	max-width: 200px;
	height: auto;
	border-radius: 5px;
	@extend .mt-3;
}

.group_item_hack {
	input.add-group-item-input[type=text] {
		display: inline-block!important;
		width: 80%!important;
		margin-right: 5px;
		vertical-align: top;
	}

	a.add-group-item {
		width: 19%;
		display: inline-block;
		line-height: 24px;
		height: 36px;
		vertical-align: top;
	}
}

/* COMMENTS 
================================ */
.comments-title {
	display: inline-block;
	margin-left: 22px;
}

.comment-list {
	padding-left: 0;
	list-style: none;
	margin: $grid-gutter-width -20px 0;

	li {
		padding: 20px 40px;
		border-top: 1px solid #d1d1d1;

		@include media-breakpoint-down(sm) {
			padding: 10px 20px;
		}

		.comment-meta {
			clear: both;
			overflow: hidden;

			a {
				color: $greyclr;
			}
		}

		.comment-author.vcard {
			margin-right: 10px;
			float: left;

			img {
				border-radius: 90px;
				margin-right: 10px;
			}
		}

		.comment-metadata {
			float: left;
			line-height: 55px;
			font-size: 13px;
		}

		.comment-content, .zl_comment_content {
			margin-top: $grid-gutter-width / 2;
			@extend .text-medium;
		}

		.says {
			display: none;
		}

		&.comment #respond {
			padding: 40px 20px;
		}

		.children {
			list-style: none;
			padding-left: 0;
			margin-top: 20px;
			border-left: 1px solid #d1d1d1;
			li {
				padding-right: 0;
				border-top: 0;
			}
		}
	}
}

#respond {
	margin: 0 -20px;
	padding: 40px;
}

.updown-vote-box.updown-comments {
	width: auto;
	min-width: 50px;
	display: inline-block;
	float: none;
	margin: 0 10px;
	padding: 0;
	text-align: left;
	@extend .text-medium;
	div:nth-child(1) {
		position: relative;
		display: inline-block;
		img {
			opacity: 0;
			display: inline-block;
		}

		&:before {
			content:"\f164";
			font-family: fontAwesome;
			position: absolute;
			@extend .text-medium;
			height: 16px;
			width: 16px;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
		}

		&:after {
			content:"Like";
			display: inline-block;
			left: -7px;
			position: relative;
		}
	}

	div:nth-child(2) {
		display: inline-block!important;
	}

	div:nth-child(3) {
		display: none;
	}
}

.zl_links.loggedout {
	.updown-vote-box.updown-comments {
		min-width: inherit;
		div:nth-child(1) {
			position: relative;
			display: inline-block;
			padding-left: 20px;
			img {
				opacity: 0;
				display: inline-block;
			}

			&:before {
				content:"\f164";
				font-family: fontAwesome;
				position: absolute;
				@extend .text-medium;
				height: 16px;
				width: 16px;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
			}

			&:after {
				display: none;
			}
		}

		div:nth-child(2) {
			display: inline-block!important;
		}

		div:nth-child(3) {
			display: none;
		}
	}
}

#cancel-comment-reply-link {
	@extend .btn;
	@extend .btn-danger;
	@extend .btn-sm;
}

.zl_links {
	@extend .text-medium;
	a {
		color: #000;
		@extend .text-medium;

		.fa {
			margin-right: 5px;
		}
	}
}

/* WIDGET
================================ */
.nostyle {
	padding: 0;
	border: 0;
	margin: 0;
	line-height: 1;
	display: inline-block;
	-webkit-appearance: none;
	background: none;
	color: $linkclr;
}

.fakebox {
	position: relative;
	padding-right: 15px;

	&:before {
		content:"\f0d7";
		font-family: fontAwesome;
		color: $linkclr;
		position: absolute;
		right: 0;
		top: -1px;
	}
}

ul.equalwidth {
	overflow: hidden;
	li {
		float: left;
		width: calc(100% / 3);
		margin: 0;
		display: block;
		vertical-align: middle;
	}
}

.votewid i.fa{
	font-size: 12px;
	color: $linkclr;
	vertical-align: top;
	margin-left: 10px;
	position: relative;
	top: 1px;
}

.hotpost {
	margin-left: -20px!important;
	margin-right: -20px!important;

	.slick-slide {
		& > div {
			overflow: hidden;
			position: relative;
			width: 100%;
		}
	}

	.hotitem {
		border-top: 1px solid #e5e5e5;
		padding: 10px 5px;

		.inner {
			border: 1px solid #e5e5e5;
			border-radius: 5px;
			padding: 10px;
		}
	}

	&.is_week {
		display: none;
	}
}

/* LOGIN
================================ */
/* .page-template-login,  */ 
.bd-login-modal .modal-dialog {
	overflow-x: hidden;

	@include media-breakpoint-up(lg) {
		max-width: 960px;
	}

	.modal-content {
		background: #fff url(../img/pattern-login.png) repeat;
		overflow: hidden;
		border-radius: 5px;
	}

	.signin {
		display: none;
	}

	h3.bold {
		font-size: 28px;
		margin-top: 40px;
	}

	h5.fadetext {
		border-bottom: 1px solid #d1d1d1;
		display: inline-block;
		padding-bottom: 10px;
	}

	.sign-button-group {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.signup-form-side {
		background: #e9eef5;
		position: relative;
		z-index: 0;

		&:before {
			content: "";
			width: 200%;
			left: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
			background: #e9eef5;
			z-index: -1;
		}

		.btn-primary {
			background: #3e87f6;
		}
	}

	.footer-wrapper.mt-3 {
		margin-top: 0!important;
	}

	#rm_next_form_page_button_2_1 {
		width: 100%;
		display: block;
		color: #fff!important;
		cursor: pointer;

		&:hover {
			opacity: .9;
		}
	}

	.rmfield, .rminput {
		display: block;
		padding: 0;
		float: none;
		width: 100%;
		min-height: unset;
	}
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
	cursor: pointer;
}

#rm_login_form {
	.rmfield[for=rm_login_form-element-3] {
		min-height: unset;
		display: inline-block;
		width: auto;
		margin: 0;
		position: relative;

		& + .rminput {
			display: inline-block;
			float: left;
			margin-right: 10px!important;
			width: auto;
			margin-bottom: 0;

			.rmradio label {
				display: none;
			}
		}		
		label {
			margin: 0;
		}
	}

	.buttonarea {
		margin: 0;
	}

	#rm_submit_btn {
		@extend .btn-block;
	}

	.rm_forgot_pass a {
		color: $primary;
	}
}

.rm-form-field-invalid-msg {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background: #000;
	background: rgba(0,0,0,.7);
	border-radius: 10px;
	box-shadow: $shadow;
	width: 100%;
	font-size: 10px!important;
	z-index: 10;
	margin-top: 0;
	color: #fff!important;
}	

/* .page-template-login  */
.wp-social-login-widget {
	text-align: center;
	width: 100%;
	max-width: 320px;
	margin: 0 auto;

	.wp-social-login-connect-with {
		margin-top: 10px;
	}

	.wp-social-login-provider-list {
		padding: 0;
		margin-top: 20px;
		a {
			display: block;
			width: 100%;
			padding: 15px 20px;
			background: #000;
			color: #fff;
			text-decoration: none;
			border-radius: 5px;
			margin-bottom: 5px;
			position: relative;

			img {
				display: none;
			}

			&:after {
				font-family: fontAwesome;
				position: absolute;
				left: 20px;
				font-size: 20px;
				height: 20px;
				line-height: 20px;
				top: 0;
				bottom: 0;
				margin: auto 0;
			}

			&.wp-social-login-provider-facebook {
				background: #4266b2;
				&:before {
					content:"Connect with Facebook"
				}
				&:after {
					content:"\f09a";
				}
			}

			&.wp-social-login-provider-google {
				background: #dd4b39;
				&:before {
					content:"Connect with Google"
				}
				&:after {
					content:"\f0d5";
				}
			}

			&.wp-social-login-provider-twitter {
				background: #55acee;
				&:before {
					content:"Login with Twitter"
				}
				&:after {
					content:"\f099";
				}
			}
		}
	}
}

/* USER PROFILE PAGE 
================================ */
body.page-template-profile {
	background-color: #fafafa;
}

.user-cover {
	background-size: cover!important;
	background-position: center center;
	position: relative;
	z-index: 0;
	overflow: hidden;

	& > .container {
		z-index: 2;
		position: relative;
	}

	&:before {
		content: "";
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background: rgba(0,0,0,.4);
	}

	.user-cover-placeholder {
		position: absolute;
		z-index: -1;
		top: -7px;
		left: -7px;
		right: -7px;
		bottom: -7px;
		margin: auto;
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		filter: blur(5px);
		background-repeat: no-repeat;
		background-size: cover!important;
		background-position: center center;
	}
}

.up-ava {
	img {
		border-radius: 100%;
	}
}

.user-statistic .clearfix {
	line-height: 27px;
	.float-left:first-of-type {
		width: 25px;
		font-size: 18px;
	}
}

/* Activity tab */
.activitytab {
	&.nav-tabs {
		li.nav-item {
			a.nav-link {
				&:not(.active) {
					background: #e5efff;
					color: $primary;
				}
			}
		}
	}
}

/* EDIT PROFILE */
.rm_user_submissions {
	display: none;
}

.wpua-edit-container {
	h3 {
		@extend .entry-title;
	}

	button#wpua-add-existing, #wpua-upload-existing{
		@extend .btn;
		@extend .btn-secondary;
		@extend .btn-sm;
		cursor: pointer;
	}

	#wpua-remove-existing {
		@extend .btn;
		@extend .btn-danger;
		@extend .btn-sm;
		cursor: pointer;
	}

	#wpua-undo-existing {
		@extend .btn;
		@extend .btn-warning;
		@extend .btn-sm;
		cursor: pointer;
	}

	#wpua-undo-button-existing {
		display: none;
	}

	#wpua-images-existing {
		img {
			border-radius: 5px;
			box-shadow: $shadow;
		}

		.description {
			@extend .text-small;
		}
	}
}

.screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal!important;
}

/* ACTIVITY STREAM 
================================ */

.diff-time {
	color: $greyclr;
}

.activity-stream {
	.avatar {
		border-radius: 90px;
	}

	.activity-item {
		border-bottom: 1px solid #eee;
		overflow: hidden;
		padding: 15px;

		&:last-of-type {
			border: 0;
		}
	}
}

/* FOOTER 
================================ */
@include media-breakpoint-up(lg) {
	body {
		padding-bottom: 100px;
		z-index: 1;
	}

	.footer-wrapper {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 0;
	}
}

.footer-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 0;
}

.footer-nav {
	background: #fff;
	padding: 10px 0;

	.pagination {
		margin: 0;
	}

	.page-link {
		border: 0;
		color: $linkclr
	}

	.scrolled {
		max-height: 100px;
		overflow: auto;
	}

	.pagingpop {
		width: 160px;
		left: -50px!important;

		.dropdown-item {
			text-align: center;
		}
	}

	@include media-breakpoint-down(sm) {
		display: block!important;
	}
}

.footer-main {
	background: #2d2d2d;
	color: #fff;
	padding-top: 50px;
	font-size: 14px;
	display: none;

	@include media-breakpoint-down(md) {
		overflow-y: auto;
		max-height: 60vh;
		-webkit-overflow-scrolling: touch;
	}

	.largest {
		font-size: 17px;
		font-weight: normal;
	}

	.downloadapp img {
		display: inline-block;
		max-width: 150px;
	}

	a {
		color: #fff;
	}
}

.single-post,
.page-template-profile,
.page-template-current-user-deals,
.page-template-current-user-discussions,
.page-template-savedposts,
.single-discussion,
.page-template-profile-edit
 {
 	padding-bottom: 0!important;
 	.footer-wrapper {
 		position: relative!important;
 	}
	.footer-main {
		display: block!important;
		position: relative!important;
	}
	.footer-nav {
		display: none!important;
	}
}

.statistic {
	background: #202020;
	padding: 20px;
	border-radius: 5px;

	.fa {
		width: 22px;
	}
}

@include media-breakpoint-down(md) {
	.paging-page-text {
		display: none;
	}
}
